:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --transition: 0.5s;
    --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: var(--navy);
    color: white;
    font-family: var(--font-sans);
}

.container {
    height: 100vh;
    max-width: 1000px;
}

section {
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* loader */

.loader {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    transition-duration: 4s;
    background-color: var(--dark-navy);
    top: 100px;
}

.container {
    color: white;
}

.hide-loader {
    display: none;
}

.square {
    background-color: transparent;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.line {
    display: block;
    background-color: var(--green);
    transition: all 1s;
}

.line-1,
.line-3 {
    position: absolute;
    height: 2px;
    width: 100%;
}

.line-2,
.line-4 {
    position: absolute;
    height: 100%;
    width: 2px;
}

.line-1 {
    top: 0;
    left: -100%;
}

.line-2 {
    top: -100%;
    right: 0;
    transition-delay: 1s;
}

.line-3 {
    bottom: 0;
    right: -100%;
    transition-delay: 2s;
}

.line-4 {
    bottom: -100%;
    left: 0;
    transition-delay: 3s;
}

.move-1 {
    top: 0;
    left: 0;
}

.move-2 {
    top: 0;
    right: 0;
}

.move-3 {
    bottom: 0;
    right: 0;
}

.move-4 {
    bottom: 0;
    left: 0;
}

.square-logo {
    font-family: var(--font-sans);
    font-weight: 600;
    font-size: 40px;
    color: var(--green);
}

/* navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 40px 60px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.nav-links {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
}

.nav-links ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: var(--transition);
}

.nav-links li:hover {
    color: var(--green);
    cursor: pointer;
}

.nav-links span {
    color: var(--green);
    font-size: 14px;
}

.nav-links ul {
    font-size: 14px;
    letter-spacing: 1px;
}

.button-container button {
    color: var(--green);
    background-color: transparent;
    border: 2px solid var(--green);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 14px;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
    transition: var(--transition);
    background-color: var(--navy);
}


.logo-container {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--green);
    border: 2px solid var(--green);
    position: relative;
    z-index: 99;
    transition: var(--transition);
}

.logo-shadow {
    background-color: var(--green);
    height: 45px;
    width: 45px;
    position: absolute;
    z-index: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button-shadow {
    background-color: var(--green);
    width: 80px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 4px;
}

.logo-container:hover {
    transform: translate(-3px, -3px);
    cursor: pointer;
}

.button-container button:hover {
    transform: translate(-3px, -3px);
    cursor: pointer;
}

.mobile-icon {
    display: none;
    z-index: 99;
}

/* intro */

#intro {
    position: relative;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.intro-container h3 {
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(16px, 5vw, 18px);
    font-weight: 400;
}

.intro-container h1 {
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
    font-size: clamp(40px, 8vw, 80px);
}

.intro-container h2 {
    color: var(--slate);
    line-height: 0.9;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
}

.intro-container p {
    font-family: var(--font-sans);
    font-size: clamp(10px, 4vw, 20px);
    line-height: 1.3;
    color: var(--slate);
}

.intro-container span {
    color: var(--green);
    position: relative;
}

.intro-container span::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background-color: var(--green);
    bottom: 0;
    left: 0;
    transition: var(--transition);
}

.intro-container p span:hover {
    cursor: pointer;
}

.intro-container p span:hover::after {
    width: 100%;
}

.intro-container button {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: clamp(10px, 3vw, 20px);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    transition: var(--transition);
    margin-top: 20px;
    position: relative;
    box-shadow: 0px 0px 01px;
    transition: var(--transition);
}

.intro-container button:hover {
    outline: none;
    box-shadow: 4px 4px 0 0 var(--green);
    transform: translate(-5px, -5px);
}

/* sidebar */

.sidebar-container-left {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 50px;
}

.sidebar-container-left i {
    color: var(--slate);
    transition: var(--transition);
    font-size: 20px;
}

.sidebar-container-left i:hover {
    color: var(--green);
    cursor: pointer;
    transform: translateY(-5px);
}

.sidebar-container-left::after {
    content: '';
    height: 100px;
    width: 1px;
    background-color: var(--slate);
}

/* work */

#work {
    /* position: relative; */
}

.work-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.work-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    position: relative;
    flex-shrink: 2;
    width: 100%;
}

.work-container h3 {
    font-size: clamp(22px, 4vw, 28px);
    white-space: nowrap;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

.work-container span {
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(20px, 3vw, 24px);
    font-weight: 400;
}

.header-line {
    height: 1px;
    width: 100%;
    background-color: var(--dark-slate);
}

.work-scroller {
    overflow: hidden;
}

.work-scroller ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.work-scroller li {
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-family: var(--font-mono);
}

.work-scroller ul::before {
    content: '';
    position: absolute;
    background-color: var(--green);
    height: 40px;
    width: 2px;
    transform: translateY(-80px);
    transition: var(--transition);
}

.work-role-ri,
.work-role-wesfarmers,
.work-role-mazars {
    background-color: var(--navy);
    transition: all linear 0.3s;
    color: var(--slate);
}

.work-role-active {
    background-color: var(--lightest-navy);
    color: var(--green);
}

.work-role-one ul::before {
    transform: translateY(-40px);
}

.work-role-two ul::before {
    transform: translateY(0px);
}

.work-role-three ul::before {
    transform: translateY(40px);
}

@media (max-width: 768px) {

    #intro {
        position: relative;
    }

    #navbar {
        height: 80px;
        padding: 0 30px;
    }

    .container {
        max-width: 100vw;
    }

    section {
        padding: 0 30px;
    }

    .blur {
        filter: blur(2px);
    }

    .nav-links {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 100%;
        height: 100%;
        width: 70%;
        background-color: var(--light-navy);
        transition: var(--transition);
        z-index: 100;
    }

    .nav-links-show {
        top: 0;
        left: 30%;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .mobile-icon {
        display: flex;
        height: 24px;
        width: 40px;
        z-index: 101;
        position: relative;
        background-color: transparent;
    }

    .nav-links ul,
    .nav-links li,
    .nav-links span,
    .nav-links button {
        background-color: var(--light-navy);
    }

    .mobileline {
        height: 2px;
        width: 40px;
        background-color: var(--green);
        z-index: 99;
        position: absolute;
        right: 0;
        transition: var(--transition);
    }

    .mob-two {
        position: absolute;
        transform: translateY(12px);
        width: 35px;
    }

    .mob-three {
        position: absolute;
        transform: translateY(24px);
        width: 30px;
    }

    .mob-three-open {
        width: 35px;
        transform: translateY(12px) rotate(225deg);
        transform-origin: center;
    }

    .mob-two-open {
        display: none;
    }

    .mob-one-open {
        width: 35px;
        transform: translateY(12px) rotate(135deg);
        transform-origin: center;
    }

    .sidebar-container-left {
        display: none;
    }
}

@media (max-width: 480px) {
    .intro-container {
        gap: 20px;
    }
}